.aboutIntro {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem;
}

.aboutContainer {
  margin-bottom: 5rem;
  background: #f8fbff;
  padding: 3rem 0;
}

.introSpan {
  background: #e58a131a;
  padding: 0.2rem 1rem;
  color: #e58a13;
  border-radius: 2rem;
}
.aboutContainer h2 {
  font-size: 3.2rem;
  color: #0b1c33;
  /* margin-bottom: 2rem; */
  line-height: 4.5rem;
  font-weight: bold;
}

.aboutContainer p {
  color: #747474;
  font-size: 1.2rem;
}
.aboutContent h2 {
  font-size: 1.9rem;
  margin-bottom: 2rem;
}
.aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  margin: 0 5rem;
  padding: 2rem;
}

.aboutList {
  display: flex;
  align-items: center;
  padding: 0 4rem;
}

.iconn {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -4rem;
  top: 2rem;
}

.text {
  flex-grow: 1;
  color: #606060;
  position: relative;
}

.text h2 {
  font-size: 1.5rem;
}

.meContent p {
  margin: 2rem 0 2.6rem;
  color: var(--color--light);
}

/* ==================== FORM =================== */
.aboutForm {
  background-color: #fff;
  padding: 2rem;
}

.aboutForm h2 {
  font-size: 2.5rem;
  color: #3788e5;
  font-weight: 600;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid rgb(76, 76, 76);
  resize: none;
  color: #2a2a2a;
}

.btn {
  width: 100%;
  display: inline-block;
  background-color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background-color: #3788e5;
  color: var(--color-bg);
  border-color: transparent;
}

/* ===============================  MEDIA QUERY (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
  .aboutUs {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 1rem;
  }

  .aboutContainer {
    padding: 1rem 0;
  }

  .aboutContainer p {
    color: #747474;
    font-size: 1rem;
  }
  .aboutContainer h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
}

/* ===============================  MEDIA QUERY (SMALL DEVICES) ========================== */
@media screen and (max-width: 600px) {
  .aboutUs {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
    margin: 0.5rem;
  }

  .aboutIntro {
    width: 100%;
    margin: 1rem auto;
  }
  .aboutContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .aboutContainer p {
    color: #606060;
    font-size: 1rem;
  }

  .aboutList {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    /* margin-left: 1rem; */
  }

  .iconn {
    position: absolute;
    width: 40px;
    height: 40px;
    /* left: -3.5rem; */
    top: 1rem;
  }

  .aboutContent h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .text {
    flex-grow: 1;
    font-size: 1rem;
  }

  .meContent {
    text-align: center;
    margin-top: 0;
  }

  .meContent p {
    margin: 1.5rem 0;
  }
  .meContent h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  .aboutList {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-left: 0;
  }

  .iconn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -1.7rem;
  }

  .text h2 {
    font-size: 1.2rem;
    margin-left: 1rem;
    line-height: 2.5rem;
  }

  .text p {
    font-size: 0.9rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  input,
  textarea {
    padding: 0.5rem;

    font-size: 12px;
  }
}
